/* Empty. Add your own CSS if you like */

.background {
  background: url('#') no-repeat;
  background-size: cover;
  background-position: center;
  margin: auto;
}

/*../img/bgimage1.jpg*/

/*.background1 {
  background: url('../img/bgimage2.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  margin: auto;
}*/

.white {
  color: white;
}

.draglist {
  border: 1px solid green;
  width: 100%;
  height: 210px;
  display: inline-block;
  margin: 0 auto;
}

[ng-drop] {
  display: block;
  position: relative;
  float: left;
}

[ng-drag] {
  border: 1px solid blue;
  width: 57px;
  height: 57px;
  display: block;
}
