/* Empty. Add your own CSS if you like */

.background {
  background: url('../img/bgimage1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  margin: auto;
}

.background1 {
  background: url('../img/bgimage2.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  margin: auto;
}

.white {
  color: white;
}
